.page h2{
    color: black;
    text-align: center;
    width: 100%;
    background-color: bisque;
    padding-top: 20%;
    
 

}
a.link{
  
    background-color: aquamarine;
   text-align: center;
    text-decoration: none;
   padding: 5px;
   position: relative;
}
